[*.{cs,vb}]
# NU1901: Security vulnerabilities in used nuget package
dotnet_diagnostic.NU1901.severity = suggestion
dotnet_diagnostic.NU1902.severity = suggestion
dotnet_diagnostic.NU1903.severity = suggestion
dotnet_diagnostic.NU1904.severity = suggestion


[*.csproj]
indent_size = 2
insert_style = space