type project
id PDFCreator.SettingsManagement
authors pdfforge GmbH

description
    PDFCreator Settings Management

dependencies
	DataStorage = LOCKEDVERSION
	Translatable = LOCKEDVERSION
	NLog = LOCKEDVERSION

include-referenced-projects true

references
	PDFCreator.SettingsManagement.dll
