type project
id PDFCreator.Utilities
authors pdfforge GmbH

description
    PDFCreator Utility classes

dependencies
    DataStorage = LOCKEDVERSION
    Translatable = LOCKEDVERSION
    NLog = LOCKEDVERSION
    Optional.StrongNamed = LOCKEDVERSION
    SystemWrapper = LOCKEDVERSION
    SystemInterface = LOCKEDVERSION

include-referenced-projects true
    
references
	PDFCreator.Utilities.dll
