type project
id PDFCreator.SettingsManagementInterface
authors pdfforge GmbH

description
    PDFCreator SettingsManagementInterface

dependencies
	DataStorage = LOCKEDVERSION
	NLog = LOCKEDVERSION
    SystemWrapper = LOCKEDVERSION
    SystemInterface = LOCKEDVERSION

include-referenced-projects true

references
	PDFCreator.SettingsManagementInterface.dll
